<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce| Orders</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/orderDet.css">
    </head>
    <body>
        <a href="/account" class="back"><img src="../images/arrow-left-long-solid.svg" alt="back"></a>

        <p class="hashtag">Order #<%= orderID %></p>

        <p class="label">Order Placed On:</p>
        <p class="ans"><%= orderDate%></p>

        <div class="list">
            <% for(let i=0; i<arr.length; i++) { %>
                <div class="item">
                    <img class="left" src="<%= arr[i].Prod_img %>" alt="item">
                    <div class="middle">
                        <p><%= arr[i].Prod_name %></p>
                        <p>Quantity:1</p>
                        <p><%= arr[i].Prod_price %></p>
                    </div>
                    <img class="right" src="../images/arrow-up-right-from-square-solid.svg" alt="link" onclick="window.location.href='/details/<%= arr[i]._id %>'">
                </div>
            <% } %>
        </div>

        <p class="label" style="margin-top: 40px;">Delivery Address:</p>
        <p class="ans"><%= orderAddress %></p>

        <p class="label">Phone Number:</p>
        <p class="ans"><%= orderPhno %></p>

        <p class="label">Email-Id:</p>
        <p class="ans"><%= orderEmail %></p>

        <p class="label">Payment Mode:</p>
        <p class="ans" style="margin-bottom: 100px;"><%= orderPay %></p>
    </body>
</html>